@use '../colours';

.incident-view ::ng-deep div {
  &.container {
    margin: 0px;
    background-color: colours.$grey;
  }
}

@font-face {
  font-family: summer-blacktop;
  src: url(../../assets/font/SummerBlacktop.ttf) format("opentype");
}

.description {
  font-family: "summer-blacktop", "arial", sans-serif;
  font-weight: 400;
  letter-spacing: 10px;
  color: colours.$grey;
  margin: 0px;
  font-size: 160px;
  text-align: center;
  align-items: center;
}

.description-container {
  max-width: 900px;
  margin-top: 25px;
}
